.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 120px;
  background-color: #000a81;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
}

.main-header h2 {
  font-weight: normal;
}
