nav {
  color: #FFFFFF;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
  width: 100%;
  font-size: larger;
}

span {
  font-size: xx-large;
  padding-top: 1.5em;
} 

.nav-right {
  display: flex;
  justify-content: right;
  font-size: smaller;
}


.nav-arrows {
  color: red;
  display: flex !important;
  justify-content: center;
}
